/*///------19th ---oct--------/////*/


/* 
body{
    background: linear-gradient(to top, violet,red,blue,white);
 
    margin: 0;
    padding: 0;
}
#clock{
    background: black;
    color: #fff;
    font-size: 50px;
    margin: 270px auto;
    width: 290px;
} */
